.scrollBar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #FFD700 #BA7F14;
}

/* Chrome, Safari, Edge */
.scrollBar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollBar::-webkit-scrollbar-track {
  background-color: #BA7F14;
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #FFD700;
  border-radius: 10px;
}
