

/* Chrome, Safari, Edge */
body .scrollBar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body .scrollBar::-webkit-scrollbar-track {
  background-color: #BA7F14;
  border-radius: 10px;
}

body .scrollBar::-webkit-scrollbar-thumb {
  background-color: #FFD700;
  border-radius: 10px;
}
